In [1]:
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder

In [3]:
data = pd.read_csv("Pagani.csv")

In [4]:
data

,Year,Model,FuelType,UnitsSold,AvgPriceUSD,CustomerSatisfaction
0,2022,Pagani EV1,Electric,150,2000000,92
1,2022,Pagani Diesel1,Diesel,100,1800000,85
2,2022,Pagani Petrol1,Petrol,200,1900000,88
3,2023,Pagani EV1,Electric,180,2100000,93
4,2023,Pagani Diesel1,Diesel,90,1850000,86
5,2023,Pagani Petrol1,Petrol,220,1950000,89
6,2024,Pagani EV1,Electric,200,2150000,94
7,2024,Pagani Diesel1,Diesel,110,1870000,87
8,2024,Pagani Petrol1,Petrol,240,2000000,90

In [5]:
X = data.drop(columns=["Model"])
y = data["CustomerSatisfaction"]

In [6]:
categorical_columns = data.select_dtypes(include=['object']).columns
label_encoders = {}

In [7]:
for col in categorical_columns:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
    label_encoders[col] = le

In [8]:
X = data.drop(columns=["Model"])
y = data["CustomerSatisfaction"]

In [9]:
X = data[["Year", "Model", "FuelType"]]
y_units = data["UnitsSold"]
y_price = data["AvgPriceUSD"]
y_satisfaction = data["CustomerSatisfaction"]

In [10]:
X_train, X_test, y_units_train, y_units_test = train_test_split(X, y_units, test_size=0.2, random_state=42)
X_train, X_test, y_price_train, y_price_test = train_test_split(X, y_price, test_size=0.2, random_state=42)
X_train, X_test, y_satisfaction_train, y_satisfaction_test = train_test_split(X, y_satisfaction, test_size=0.2, random_state=42)

In [11]:
model_units.fit(X_train, y_units_train)
model_price.fit(X_train, y_price_train)
model_satisfaction.fit(X_train, y_satisfaction_train)

NameError: name 'model_units' is not defined

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [ ]:
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 0.00025955480224235095
R-squared: 0.9997404451977576

In [ ]:
print(data.dtypes)
print(data)

Year                    int64
Model                   int64
FuelType                int64
UnitsSold               int64
AvgPriceUSD             int64
CustomerSatisfaction    int64
dtype: object
   Year  Model  FuelType  UnitsSold  AvgPriceUSD  CustomerSatisfaction
0  2022      1         1        150      2000000                    92
1  2022      0         0        100      1800000                    85
2  2022      2         2        200      1900000                    88
3  2023      1         1        180      2100000                    93
4  2023      0         0         90      1850000                    86
5  2023      2         2        220      1950000                    89
6  2024      1         1        200      2150000                    94
7  2024      0         0        110      1870000                    87
8  2024      2         2        240      2000000                    90